.main {
  max-width: 65rem;
  margin: 2.5rem auto;

  position: relative;
}

.titleRow {
  margin: 0 0 1rem;

  display: flex;
  justify-content: space-between;
}

.h1 {
  padding: 0;
  margin: 0;

  display: inline-block;
  width: auto;

  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.select {
  background: white;
  border: 1px solid;
  border-color: black;
  border-radius: 6px;
  padding: 10px;
}

.h2 {
  padding: 0;
  margin: 1rem 0;

  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.widget {
  width: 48%;
  height: 150px;
  margin: 1%;
  padding: 1.25rem;
  border-radius: 0.5rem;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 0 35px 0 rgba(73, 80, 87, 0.15);

  position: relative;
}

.button {
  padding: 10px;
  border: 1px solid;
  border-color: #000;
  border-radius: 6px;

  background-color: white;
  font-size: 16px;
}

.widgetTitle {
  margin: 0;

  text-transform: uppercase;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.4);
}

.widgetValue {
  margin: 0;

  text-align: left;
  font-size: 2.5rem;
  font-weight: 600;

  color: #000;
}

.widgetImage {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.widgeSubtext {
  float: left;
  font-size: 1.25rem;

  color: rgba(0, 0, 0, 0.4);
}

.table {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 5px;
  border: solid #ddd 1px;
  border-radius: 6px;
}

.headingRow {
  width: 100%;
  border-bottom: solid #ddd 1px;

  display: flex;
  justify-content: space-around;
}

.headingCell {
  width: 100%;
  padding: 0.75rem;

  display: flex;
  justify-content: center;

  font-weight: 600;
}

.row {
  display: flex;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.rowCell {
  width: 100%;
  padding: 0.75rem;
  border-right: solid #ddd 1px;

  display: flex;
  justify-content: center;
}

.rowCell:last-child {
  border-right: 0;
}

.stats {
  margin-top: 30px;
}

.bad {
  background-color: #d9534f;
  border-right-color: #d9534f;
  font-weight: 500;
}

.moderate {
  background-color: #ffeeaa;
  border-right-color: #ffeeaa;
  font-weight: 500;
}

.good {
  background-color: #1bb99a;
  border-right-color: #1bb99a;
  font-weight: 500;
}
