.main {
  max-width: 65rem;
  margin: 2.5rem auto;
}

.h1 {
  padding: 0;
  margin: 0 0 1rem;

  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.h2 {
  padding: 0;
  margin: 1rem 0;

  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.widget {
  width: 48%;
  height: 150px;
  margin: 1%;
  padding: 1.25rem;
  border-radius: 0.5rem;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 0 35px 0 rgba(73, 80, 87, 0.15);
}

.widgetTitle {
  margin: 0;

  text-transform: uppercase;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.4);
}

.widgetValue {
  margin: 0;

  text-align: left;
  font-size: 2.5rem;
  font-weight: 600;

  color: #000;
}

.widgetImage {
  width: 50px;
  height: 50px;
}

.widgeSubtext {
  float: left;
  font-size: 1.25rem;

  color: rgba(0, 0, 0, 0.4);
}

.table {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 5px;
  border: solid #ddd 1px;
  border-radius: 6px;
}

.headingRow {
  width: 100%;
  border-bottom: solid #ddd 1px;

  display: flex;
  justify-content: space-around;
}

.headingCell {
  width: 100%;
  padding: 0.75rem;

  display: flex;
  justify-content: center;

  font-weight: 600;
}

.row {
  display: flex;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.rowCell {
  width: 100%;
  padding: 0.75rem;
  border-right: solid #ddd 1px;

  display: flex;
  justify-content: center;
}

.rowCell:last-child {
  border-right: 0;
}

.bad {
  background-color: #d9534f;
  border-right-color: #d9534f;
  font-weight: 600;
}

.moderate {
  background-color: #ffeeaa;
  border-right-color: #ffeeaa;
  font-weight: 600;
}
